:root {
    --main-green-color: #08946C;
}

body {
    transition: background-color 0.3s ease-in-out;
}

#task-input {
    border-radius: 10px;
    border: solid var(--main-green-color) thick;
}

#task-input:hover {
    border-color: #3eedbc;
    transition: 0.3s;
}

#add-button {
    background-color: var(--main-green-color);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

#add-button:hover {
    background-color: #3eedbc;
    transition: 0.3s;
}

#to-do-list-main-container {
    margin: 0 30vw;
    padding: 2rem;
    border-radius: 10px;
}

.task-in-list {
    border: solid thin black;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    background-color: white;
    width: 70%;
}

/* Welcome page */

#new-user-name{
    border-radius: 10px;
    border-bottom: solid var(--main-green-color) thick;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#greetings-header {
    font-size: 6rem;
}

.welcome-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;
    transform: translateX(0);
    opacity: 1;
    position: relative;
    z-index: 0;
    transition: all 1s ease-in-out;
}

.welcome-background.slide-out {
    transform: translateX(-100vw);
    opacity: 0;
    position: absolute;
    z-index: 10;
}

#welcome-content {
    background-image: url("../images/welcome_background.jpg");
    background-size: cover;
    width: 98%;
    height: 98%;
    border-radius: 10px;
}

#date {
    background-color: white;
    border-radius: 15px;
    border: solid var(--main-green-color) thick;
    padding: 1rem;
}

#weekday {
    border-bottom: solid thin;
}

#open-page-button {
    cursor: pointer;
    background-image: url("../images/favicon-32x32.png");
    background-size: cover;
    padding: 0.5rem 1.5rem;
    border: solid thin;
    border-radius: 100px;
    transition: color 0.5s;
}

#open-page-button:hover {
    color: white;
}

/*Background choice*/

#background-choice {
    position: absolute;
    right: 7rem;
    top: 3rem;
    max-width: 9rem;
    border: none;
}

.white-background {
    background-color: white;
}

.color-background {
    background: #FCB045FF;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.dark-mode {
    background-color: black;
}

#background-choice option:checked {
    background-color: #08946C;
    color: white;
}

/*Task done*/
.task-done, .delete-task {
    transition: transform 0.3s;
    cursor: pointer;
}

.task-done:hover, .delete-task:hover {
    transform: scale(1.5);
}

.task-done {
    color: var(--main-green-color);
}

@media screen and (max-width: 768px) {
    #background-choice {
        right: 0;
        top: 0;
    }

    #welcome-content {
        height: unset;
    }

    #greetings-header {
        font-size: 4rem;
    }
}
